# cp deploy.env.example deploy.env
# ./deploy.sh --connection-info

REMOTE_HOST="194.226.142.147"
REMOTE_USER="kp"
REMOTE_BASE="/var/www/imtera"
REMOTE_SSH_KEY=""
APP_URL="https://imtera.servers31.ru"

REMOTE_DB_HOST="127.0.0.1"
REMOTE_DB_PORT="5432"
REMOTE_DB_NAME="imtera"
REMOTE_DB_USER="imtera"
REMOTE_DB_PASS=""
